:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0 !important;

  --gray_200: #f6f7f9;
  --gray_300: #e6e7ea;
  --gray_400: #d9dde0;
  --gray_500: #bfc5cb;
  --gray_600: #98a1a6;
  --gray_700: #757e85;
  --gray_850: #4a4e53;
  --gray_900: #121619;
  --point_01: #00ab15;
  --error-txt: #f65c51;
  --point_txt: #3679fa;
  --point_light: #eaf7e9;
  --border-promotion: #ff8700;
  --use-ticket: #00ab15;
  --promotion-1: #3679fa;
  --promotion-3: #ff9d2f;
  --promotion-6: #ff8700;
  --promotion-12: #ff5500;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #000000;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
