@font-face {
  font-family: Maplestory;
  src: url(https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/MaplestoryOTFLight.woff)
    format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: ONE Mobile POP;
  src: local("ONE Mobile POP"),
    url("/assets/fonts/ONE Mobile POP/ONE-Mobile-POP.woff") format("woff");
}

@font-face {
  font-family: SUIT;
  font-weight: 400;
  src: local("SUIT Regular"),
    url(/assets/fonts/suit/SUIT-Regular.woff2) format("woff2");
}

@font-face {
  font-family: SUIT;
  font-weight: 500;
  src: local("SUIT Regular"),
    url(/assets/fonts/suit/SUIT-Regular.woff2) format("woff2");
}

@font-face {
  font-family: SUIT;
  font-weight: 600;
  src: local("SUIT SemiBold"),
    url(/assets/fonts/suit/SUIT-SemiBold.woff2) format("woff2");
}

@font-face {
  font-family: SUIT;
  font-weight: 700;
  src: local("SUIT SemiBold"),
    url(/assets/fonts/suit/SUIT-SemiBold.woff2) format("woff2");
}

@font-face {
  font-family: SUIT;
  font-weight: 800;
  src: local("SUIT ExtraBold"),
    url(/assets/fonts/suit/SUIT-ExtraBold.woff2) format("woff2");
}

@font-face {
  font-family: SUIT;
  font-weight: 900;
  src: local("SUIT Heavy"),
    url(/assets/fonts/suit/SUIT-Heavy.woff2) format("woff2");
}

@font-face {
  font-family: MapleStory OTF;
  font-display: swap;
  font-style: normal;
  font-weight: 300;
  src: local("Maplestory OTF Light"),
    url(/assets/fonts/MaplestoryFont_OTF/Maplestory-OTF-Light.otf)
      format("opentype");
}

@font-face {
  font-family: MapleStory OTF;
  font-display: swap;
  font-style: normal;
  font-weight: 700;
  src: local("Maplestory OTF Bold"),
    url(/assets/fonts/MaplestoryFont_OTF/Maplestory-OTF-Bold.otf)
      format("opentype");
}

@font-face {
  font-family: Jalnan Gothic;
  src: local("Jalnan Gothic"),
    url(/assets/fonts/JalnanGothic/JalnanGothic.otf) format("opentype");
}

:root {
  --gray_200: #f6f7f9;
  --gray_300: #e6e7ea;
  --gray_400: #d9dde0;
  --gray_500: #bfc5cb;
  --gray_600: #98a1a6;
  --gray_700: #757e85;
  --gray_850: #4a4e53;
  --gray_900: #121619;
  --point_01: #00ab15;
  --error-txt: #f65c51;
  --point_txt: #3679fa;
  --point_light: #eaf7e9;
  --border-promotion: #ff8700;
  --use-ticket: #00ab15;
  --promotion-1: #3679fa;
  --promotion-3: #ff9d2f;
  --promotion-6: #ff8700;
  --promotion-12: #ff5500;
}

@font-face {
  font-family: Pretendard;
  font-weight: 900;
  font-display: swap;
  src: local("Pretendard Black"),
    url(/assets/Pretendard/Pretendard-Black.woff2) format("woff2"),
    url(/assets/Pretendard/Pretendard-Black.woff) format("woff");
}

@font-face {
  font-family: Pretendard;
  font-weight: 800;
  font-display: swap;
  src: local("Pretendard ExtraBold"),
    url(/assets/Pretendard/Pretendard-ExtraBold.woff2) format("woff2"),
    url(/assets/Pretendard/Pretendard-ExtraBold.woff) format("woff");
}

@font-face {
  font-family: Pretendard;
  font-weight: 700;
  font-display: swap;
  src: local("Pretendard Bold"),
    url(/assets/Pretendard/Pretendard-Bold.woff2) format("woff2"),
    url(/assets/Pretendard/Pretendard-Bold.woff) format("woff");
}

@font-face {
  font-family: Pretendard;
  font-weight: 600;
  font-display: swap;
  src: local("Pretendard SemiBold"),
    url(/assets/Pretendard/Pretendard-SemiBold.woff2) format("woff2"),
    url(/assets/Pretendard/Pretendard-SemiBold.woff) format("woff");
}

@font-face {
  font-family: Pretendard;
  font-weight: 500;
  font-display: swap;
  src: local("Pretendard Medium"),
    url(/assets/Pretendard/Pretendard-Medium.woff2) format("woff2"),
    url(/assets/Pretendard/Pretendard-Medium.woff) format("woff");
}

@font-face {
  font-family: Pretendard;
  font-weight: 400;
  font-display: swap;
  src: local("Pretendard Regular"),
    url(/assets/Pretendard/Pretendard-Regular.woff2) format("woff2"),
    url(/assets/Pretendard/Pretendard-Regular.woff) format("woff");
}

@font-face {
  font-family: Pretendard;
  font-weight: 300;
  font-display: swap;
  src: local("Pretendard Light"),
    url(/assets/Pretendard/Pretendard-Light.woff2) format("woff2"),
    url(/assets/Pretendard/Pretendard-Light.woff) format("woff");
}

@font-face {
  font-family: Pretendard;
  font-weight: 200;
  font-display: swap;
  src: local("Pretendard ExtraLight"),
    url(/assets/Pretendard/Pretendard-ExtraLight.woff2) format("woff2"),
    url(/assets/Pretendard/Pretendard-ExtraLight.woff) format("woff");
}

@font-face {
  font-family: Pretendard;
  font-weight: 100;
  font-display: swap;
  src: local("Pretendard Thin"),
    url(/assets/Pretendard/Pretendard-Thin.woff2) format("woff2"),
    url(/assets/Pretendard/Pretendard-Thin.woff) format("woff");
}

body {
  margin: 0;
  font-family: Maplestory;
  background-color: #fbfbfb;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

.hide-scroll-bar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.hide-scroll-bar ::-webkit-scrollbar {
  display: none;
}
